<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>版权声明</title>
  <meta name="author" content="Stevens Tian">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <!--link  type="text/css" href="stylesheets/style.css"-->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/styles_notice.css">
  <!--script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script-->
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/retina.js"></script>
  
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body>
	<div id="view">
		<header>
			<h1>版权声明</h1>
		</header>
	
		<div id="container">
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本站点刊载的所有内容，包括文字、图片、音频、视频、软件、程序、以及网页版式设计等均获得相关作者授权。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp访问者可将本站点提供的内容或服务用于个人学习、研究或欣赏，以及其他非商业性或非盈利性用途，但同时应遵守著作权法及其他相关法律的规定，不得侵犯本站点及相关权利人的合法权利。<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp除此以外，将本站点任何内容或服务用于其他用途时，须征得相关作者的授权。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本站点内容的原作者如不愿意在本站刊登内容，请及时通知本站管理员，予以删除。<br></p>

<a href="/videos"=>I Agree</a>
<a href="/samplelist">No I don't agree</a>
		</div>
	</div>

</body>
</html>
