<!DOCTYPE html>
<html>

<body>
<h1>Video List</h1>
<ul style="list-style-type:disc">
	<li><a href="./videos/1?name=lesson-1">Video 1</a></li>
	<li><a href="./videos/video2">Video 2</a></li>
	<li><a href="./videos/index2">index 2</a></li>
</ul>
	


</body>
</html>
